<h1>List of Pets</h1>

@if (loading) {
  <app-spinner></app-spinner>
}
@else{
  <input type="text" [formControl]="validSearch" placeholder="Search pets..." (input)="onSearch()">
  @if (this.validSearch.status=="VALID") {


    @if (filteredPets.length==0) {
      <p class="error">No pets found</p>
    }
    @else {
      @for (pet of filteredPets ; track pet.id ) { <!-- track pet.id helps angular identify unique items in the list -->
        <div>ID: {{ pet.id }} </div>
        <div>Name:{{ pet.name }}</div>
        @if (!pet.image){
            <p>No image available</p>
        } @else {
          <img [ngSrc]="pet.image" [alt]="'Image of ' + pet.name" width="150" height="150" class="pet-image" priority> <!--//priority is used to load images in the background -->
        }
      }
    }
  }
  @else {
    <p class="error" >Please enter a valid search term </p>
    }
}

<!-- new way of doing for loops in angular and using interpolation to display data , also called two way binding -->
<!-- expression tells Angular how to uniquely identify each item in a loop. This helps Angular optimize DOM updates when the list changes — like when items are added, removed, or reordered.-->



